/*------- CSS ------*/

{
    padding:0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

/*----------- MAIN STYLING ---------*/
body {
    width:100%;
    max-width: 650px;
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Alata', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Hammersmith One', sans-serif;

}


/*-------------- TYPOGRAPHY ---------*/

h1, h2 {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
}

h3, {
    font-weight: normal;
    color: #FF6545;
    text-align: left;
}


h4 {
    font-weight: normal;
    color: #F26052;
    text-align: left;
}


p{font-family: 'Alata', sans-serif;}

p, blockquote {
    margin-bottom: 1em;
    line-height: 1.4em;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
    }

h2 {font-size: 1.999em;
    margin: 3em 0 1em 0}

h3 {font-size: 1.414em;
    margin-bottom: 1.5em; 
    
}

h4 {font-size: 1.521em;
    margin-bottom: 1.5em; 
    
}

/*---------- IMAGES ---------*/

img {
    display: block;
    margin: 2em auto;
    padding: 0;
    max-width: 100%;
    align-content: left;
}

.row {display: row}

.center{align-content: center}

/*------SOCIAL LINKS-------*/


.connections {
   position: relative;
    margin: 0 auto;   

}

.connections ul {
    margin: 0;
    padding: 0;

}

.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections a:link {
    border-bottom: none;
}

.connections img {
    opacity: 0.5;
    border: none;
    
}

.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}


footer {text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0; }

/*----------- NAVIGATION ----------*/

nav {
    position: fixed;
    top: 0;
    left:0;
    margin: 0;
    width: 100%;
    background-color: #FF4A16;
    padding: 1em 0;
    font-size: 0.70em;
    opacity: 90%;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  
}



nav ul li {
    display: inline;
    margin: 20px;
    
}

nav li  { color: #fff;
  background: darkorange;
    display: block;
align-content: center;
    padding: 1em;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

nav a {
    color: white;
}

nav a:hover{
    border-bottom: none;
    color: chocolate;
}


/*-----DROPDOWN BUTTON-----*/



li a {
  color: #fff;
}

li:hover {
    background: yellow;
    cursor: pointer;
}

ul li ul {
    
    visibility: visible;
  opacity: 0;
  min-width: 8rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}









        