/*------- CSS ------*/

{
    padding:0;
    margin: 0;
    font-size; 100%;
    line-height: 1em;
}

/*----------- MAIN STYLING ---------*/
body {
    margin: auto;
    background: #fafafa;
    color: #333;
    font-family: 'Alata', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Hammersmith One', sans-serif;

}


/*-------------- TYPOGRAPHY ---------*/

h1 {
    font-weight: normal;
    color: #fafafa;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
 
}




h2 {font-weight: normal;
    color: #fafafa;
    text-align: center;
    padding: .1em;
    margin: auto;
    font-size: 1.999em;  
    max-width: 700px;
}
        

h3, {
    font-weight: normal;
    color: #FF6545;
    text-align: left;
}


h4 {
    font-weight: normal;
    color: #F26052;
    text-align: left;
}


p{font-family: 'Alata', sans-serif;}

p, blockquote {
    margin-bottom: 1em;
    line-height: 1.4em;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
    }


h3 {font-size: 1.414em;
    margin-bottom: 1.5em; 
    
}

h4 {font-size: 1.521em;
    margin-bottom: 1.5em; 
    
}

/*---------- IMAGES ---------*/

img {
    margin: 2em auto;
    padding: 0;
    max-width: 100%;
    display: inline-block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 4px;
}

/* Clear floats after image containers */
.row:after {
  content: "";
  clear: both;
  display: table;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

.row {
  display: row;
  align-content: center;
}


/*------SOCIAL LINKS-------*/


.connections {
    position: relative;
    margin: 0 auto;   

}

.connections ul {
    margin: 0;
    padding: 0;

}

.connections li {
    margin: 0 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.connections a:link {
    border-bottom: none;
}

.connections img {
    opacity: 0.5;
    border: none;
    
}

.connections a:hover img {
    opacity: 1.0;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}




/*----------- NAVIGATION ----------*/

nav {
    position: fixed;
    top: 0;
    
    margin: 0;
    width: 100%;
    background-color: #FF4A16;
    padding: .1em 0;
    font-size: 0.70em;
    opacity: 100%;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    
}

nav a {
    color: white;
}

nav a:hover{
    border-bottom: none;
    color: #FFE882;
}

footer {text-align: center;
    font-size: 0.707em;
    padding: 2em 0 4em 0; }


/*-----RED BACKGROUND----*/

header {
    margin:0;
    width: 100%;
    background-color: #FF4A16;
    min-height: 100px;
    font-size:100%;
    line-height: 4em;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    opacity: 90%;
}

.content {
    width: 50%;
    margin: 0 auto;
}


/*--------TOP BUTTON ---------*/

button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button: after {
  content: "\f077";
  
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button: hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
button.show {
  opacity: 1;
  visibility: visible;
}



/*------FOOTER----*/


        